.about-me {
  display: flex;
  font-size: 0.6875rem;
  align-items: center;
  color: rgb(90, 85, 85);
  margin: 25px 20px 0;
}
.about-me img {
  width: 190px;
  height: 290px;
  margin-right: 10px;
}
.first-p {
  color: black;
  font-size: 1.25rem;
  padding: 5px 0;
}
.name {
  color: #bf5555;
  font-weight: 600;
}
article.info {
  padding-left: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    font-size: 0.9375rem;
  }
  article.info {
    margin: 50px;
  }
  .about-me img {
    width: 220px;
    height: 270px;
    padding-top: 20px;
    margin-right: 30px;
  }
}
@media (min-width: 1025px){
  .about-me {
    font-size: 0.9375rem;
    justify-content: center;
    gap: 20px;
  }
  article.info {
    width: 400px;
    margin: 80px;
  }
  .first-p {
    font-size: 1.5rem;
  }
  .about-me img {
    width: 300px;
    height: 300px;
    padding-top: 30px;
  }
}
