* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head"
    "main"
    "footer";
}
#header {
  grid-area: head;
}
#main {
  grid-area: main;
}
#footer {
  margin-top: 100px;
  grid-area: footer;
  height: 200px !important;
}
@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head"
      "main"
      "footer";
  }
}
@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "head"
      "main"
      "footer";
  }
}