* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(246, 244, 240);
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 200px;
  grid-template-areas:
    "head"
    "main"
    "footer";
}
#header {
  grid-area: head;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
}
.box {
  border: 1px solid red;
}
