.card > article {
  width: 60%;
  padding: 15px;
}
.article-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: medium;
  font-weight: 650;
}
.article-body > .sub-title {
  font-size: 13px;
  color: #6e6c6c;
  margin-top: 10px;
  font-weight: 100;
}
.article-body > a.read-more {
  text-align: end;
  color: #bf5555;
  text-decoration: underline;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 10px;
}
@media (min-width: 901px) {
  .article-body {
    font-size: large;
  }
  .article-body > .sub-title {
    font-size: 15px;
  }
  .article-body > a.read-more {
    font-size: 15px;
  }
}
